// ========================================================================
// COMPONENTS/PARTNER
// ========================================================================

.c-partner {
    &__list {
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        line-height: 60px;

        @include ie9 {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__item {
        @include ie9 & {
            display: inline-block;

            @include ltr {
                margin-right: spacing(8);
            }

            @include rtl {
                margin-left: spacing(8);
            }

            &:last-child {
                @include ltr {
                    margin-right: 0;
                }

                @include rtl {
                    margin-left: 0;
                }
            }
        }
    }
}
