// ========================================================================
// COMPONENTS/STAR RATING
// ========================================================================

.c-star {
    display: inline-block;
    color: #f99e00;

    &__icon {
        @include box-size-set(13,13);
    }

    &--nha {
        color: #ff63a3;
    }
}
