// ========================================================================
// SETTINGS/LAYOUT
// ========================================================================

$grid-columns       : 12;
$min-width          : 792px;
$max-width-narrow   : 1124px;
$max-width-wide     : 1924px;

