// ========================================================================
// SETTINGS/MISC
// ========================================================================

$transition-duration   : 250ms;
$border-radius         : 6px;

$at                    : \@; // used in the varialble name so this needs to be created as a variable first
$slash                 : \/; // used to create a '/' character in a css class name
