// ========================================================================
// SETTINGS/TYPOGRAPHY
// ========================================================================

$font-family    : mallory, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size      : 100%;
$line-height    : $line-height-px / $font-size-px;
