// ========================================================================
// BASE/IMAGES
// ========================================================================

// max-width - Set for responsive purpose
// vertical-align - Set to remove the whitespace that appears underneath
// border-styles - Set to remove and border styles

img {
    max-width: 100%;
    border-style: none;
    vertical-align: middle;
    font-style: italic;
}
