// ========================================================================
// LAYOUT/GRID
// ========================================================================

.l-row {
    @include cf;

    @include ltr {
        margin-left: -(spacing(4));

        &--no-gutter {
            margin-left: 0;

            > [class^="l-col-"] {
                padding-left: 0;
            }
        }
    }

    @include rtl {
        margin-right: -(spacing(4));

        &--no-gutter {
            margin-right: 0;

            > [class^="l-col-"] {
                padding-right: 0;
            }
        }
    }
}

[class*="l-col-"] {
    @include ltr {
        float: left;
        padding-left: spacing(4);
    }

    @include rtl {
        float: right;
        padding-right: spacing(4);
    }
}

@include grid-widths('widths');

@each $bp, $query in $breakpoints {
    @include bp($bp) {
        @include grid-widths('widths', $at + "bp" + $bp);
    }
}

@include grid-widths('offset');

@each $bp, $query in $breakpoints {
    @include bp($bp) {
        @include grid-widths('offset', $at + "bp" + $bp);
    }
}
